@import '../../../styles/settings.scss';

.root {
  background: #C9D0D5;
  position: absolute;
  width: 100%;
  margin-top: 50px;

  .container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 150px;

    .media {
      margin: auto;
      a {
        color: black;
        margin: 5px;

        .icon{
          font-size: 35px;
        }
      }
    }
    .credits{
      margin: auto;
      font-size: 15px;
    }
  }
}