@import '../../../styles/settings.scss';

.root {
    .cartButton {
      margin: 10px;
    .cartContent {
      background: white;
      padding: 5px 10px;
      margin-left: 15px;
      border-radius: 12px;
    }
  }
  .cartOpen {
    position: fixed;;
    height: 100%;
    width: 700px;
    right: 0;
    z-index: 10;

    .cartItems {
      background-color: #ececec;
      color: black;
      box-shadow: 0px 2px 4px 0px #000000;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      position: relative;
    }
  }
}