@import '../../../styles/settings.scss';

.root {

  display: flex;
  flex-direction: column;

  .alert{
    font-size: 120px;
    font-weight: normal;
    color: #f50057;
    margin: auto;
    margin-top: 200px;
  }

  .info{
    margin: auto;
    margin-top: 150px;
    margin-bottom: 200px;
    font-size: 30px;
    font-weight: lighter;
  }
}
