@import '../../../styles/settings.scss';

.root {
  .toolbar {
    background-color: #9fd3e3;
    .name {
      color: black;
      font-size: 40px;
      margin: auto;
      font-style: italic;
      margin-top: 15px;
      margin-bottom: 15px;
      font-weight: bold;
      font-family: 'Georgia';
    }
  }
}
